<div class="container">
    <!-- <h1> {{ title }} </h1> -->
    <h2>Componente padre</h2>

    <input type="text" class="form-control mb-4" [(ngModel)]="title">

    <app-children [(title)]="title"></app-children>
    <!-- <app-children [title]="title" (titleChange)="title = $event"></app-children> -->

</div>

<!-- Parametro [title], escuchando un evento (titleChange) Accion modificar title por lo que se este mandando en $event-->

<!-- <app-formulario3></app-formulario3> -->
<!-- <app-otro-form></app-otro-form> -->
<!-- <app-form2></app-form2> -->
<!-- <app-switch></app-switch> -->
<!-- <app-bucles></app-bucles> -->
<!-- <app-formulario></app-formulario> -->
<!-- <app-counter></app-counter> -->
<!-- <app-botones></app-botones> -->
